.announce.announce_header.divider{style: "color: #BF2219; background-image: url(#{image_path 'projects/kia.jpg'}); background-color: #CADBDF"}
  .announce__inner
    .announce__recently Последний проект
    .announce__icon.divider__side.icon-bookmark
    .announce__info.divider__base
      %h3.announce__title
        %a.announce__title__link{:href => "#"} KIA — Время удивляться!
      %p.announce__desc
        Компания KIA добавила на свой стенд онлайн-трансляцию.
        %a.announce__readmore{:href => "#"} Читать далее&hellip;