.blog__post
  .blog__post__tags
    - 3.times do
      %a.blog__post__tag{:href => "/projects/show"}= '#' + Faker::Lorem.word.capitalize
  %h1.font-big.blog__post__title
    %a.blog__post__link{:href => "/blog/post"}
      = Faker::Lorem.words(5).join(' ').capitalize
  .blog__post__info
    .blog__post__info__author
      By
      %a{:href => "#"}= Faker::Name.name
    .blog__post__info__time 29 November 2013
    .blog__post__info__tags
      - 3.times do
        %a.blog__post__tag{:href => "/projects/show"}= '#' + Faker::Lorem.word.capitalize
  .blog__post__content
    %p= Faker::Lorem.paragraphs.join(' ').capitalize
    %p= Faker::Lorem.paragraphs.join(' ').capitalize
    %p= Faker::Lorem.paragraphs.join(' ').capitalize
    
    .img-wrapper
      %img.img-responsive{:src => "//lorempixel.com/1024/768", :alt => "Some image"}/
      .img-desc= Faker::Lorem.paragraphs.join(' ').capitalize
    
    .img-wrapper
      %img.img-responsive{:src => "//lorempixel.com/1024/769", :alt => "Some image"}/
      .img-desc= Faker::Lorem.paragraph.capitalize