.blog__post.blog__post_small.blog__post_link
  .blog__post__time
    29 November 2013
  %h2.blog__post__title
    %a.blog__post__link{:href => "/blog/link"}
      %span.blog__post__link__icon.icon-link
      %span.blog__post__link__text
        = Faker::Lorem.words(5).join(' ').capitalize
  .blog__post__info
    %a.blog__post__info__via{:href => "#"}= Faker::Internet.domain_name