.row
  .col-md-6
    .blog__more
      %h3.blog__more__title More from the blog
      %ul.blog__more__list
        %li.blog__more__list__item.blog__more__list__item_active
          %a.blog__more__list__link{:href => "/blog/post"}= Faker::Lorem.words(5).join(' ').capitalize
        - 25.times do
          %li.blog__more__list__item
            %a.blog__more__list__link{:href => "/blog/post"}= Faker::Lorem.words(5).join(' ').capitalize
  .col-md-6
    .blog__projects
      %h3.blog__projects__title Look what we did!
      %ul.blog__projects__latest
        - 15.times do |i|
          %li.blog__projects__item
            %a.blog__projects__item__link{:href => "/projects/show"} 
              %img.blog__projects__item__image{:src => "//lorempixel.com/#{500+i}/#{500+i}", :alt => "Project image"}/
              %span.blog__projects__item__title= Faker::Lorem.words.join(' ').capitalize