.blog__post.blog__post_small
  .blog__post__image-wrapper
    .blog__post__image
      %a{:href => "/blog/post"}
        %img.blog__post__image__image.img-responsive{:src => "//lorempixel.com/640/480", :alt => "Some image"}/
      .blog__post__image__tags
        %a.blog__post__image__tag.blog__post__image__tag_brand{:href => "/projects/show"}= '#' + Faker::Lorem.word.capitalize
        - 3.times do
          %a.blog__post__image__tag{:href => "/projects/show"}= '#' + Faker::Lorem.word.capitalize
  .blog__post__content
    %p= Faker::Lorem.paragraphs.join(' ').capitalize
  .blog__post__info
    .blog__post__info__time 29 November 2013