.collaborators
  - 5.times do |i|
    %a.collaborators__member.divider{:href => "#"}
      %img.collaborators__member__avatar.divider__side{:src => "//lorempixel.com/#{25+i}/#{25+i}/", :alt => "Member's avatar"}/ 
      .collaborators__member__name.divider__base= Faker::Name.name