.content
  .row
    .col-md-10
      %h1.font-large.no-top-margin Мы изобретаем<br />всякие крутые<br />штуки
      
      %br/
      %br/

      %em
        Lark — консультирует в области информационных технологий и разрабатывает веб-приложения.<br />
        Мы анализируем, придумываем, рекомендуем, проектируем и программируем.<br />
        Наша цель проста — помогать людям воплощать инновационные идеи.<br />

      %br/
      %br/
      %br/
      %br/
      %h2.text-center Представьте, на что вы способы когда в ваших руках <em>5 веб-разработчиков</em>
      %br/
      
      %p.text-center
        %button.input-button Добавьте нас на Facebook

      %br/
      %br/
      %br/
      %br/

      %h2.width-narrow.no-bottom-margin
        __
        %br/
        У вас есть предложения к нам?
        Мы рады знакомству с новыми людьми и идеями.
        %a{:href => "#"} Дайте нам знать
        и мы напишем вам.