%footer.footer.divider#contacts
  .row
    .col-md-8.footer__big
      %h1.footer__header
        %b LARKIT
      %a.footer__link{:href => "#"}
        %h1.footer__header Марксистская 34/8
      %a.footer__link{:href => "#"}
        %h1.footer__header 19147 Москва
      %a.footer__link{:href => "#"}
        %h1.footer__header Россия
      
      %br/

      %a.footer__link{:href => "#"}
        %h1.footer__header wecan@larkit.ru
      %a.footer__link{:href => "#"}
        %h1.footer__header (+7) 926 550 9488
      %a.footer__link{:href => "#"}
        %h1.footer__header @larkit
    .col-md-4.footer__small
      %h2.footer__header Последние проекты
      %ul.footer__projects
        - 13.times do
          %li.footer__projects-item
            %a.footer__link{:href => "#"}= Faker::Lorem.word.capitalize