.herounit
  %h1.herounit__title A smattering of projects
  .row
    .col-md-8
      %p.herounit__description
        The core team at Bengler have worked together since 1995 and have produced television programmes, documentaries, museum exhibitions and public artworks. Since the mid 2000s we've spent much of our time designing and building social software.<br />
        <br />
        Here are some of our recent projects.