%nav.navigation.divider
  .navigation__logo
    .navigation__toggle.visible-xs
      %a.navigation__toggle__link.navigation__toggle__icon.navigation__link.icon-menu{:href => "#", :data => { :toggle => "collapse", :target => "#navigation", :action => "" } }
    %a.navigation__logo__link.navigation__link{:href => "/"}
      %span.navigation__logo__image
    .navigation__status.visible-xs Main page

  %ul.navigation__links.collapse#navigation
    %li.navigation__links__item
      %a.navigation__links__link.navigation__link{:href => "/projects"}
        %span.navigation__links__link__inner Projects
    %li.navigation__links__item
      %a.navigation__links__link.navigation__link{:href => "/blog"}
        %span.navigation__links__link__inner Blog
    %li.navigation__links__item
      %a.navigation__links__link.navigation__link{:href => "#contacts"}
        %span.navigation__links__link__inner Contacts
    / %li.navigation__links__item
    /   %a.navigation__links__link.navigation__link{:href => "#"}
    /     %span.navigation__links__link__inner Команда
    / %li.navigation__links__item.f-right
    /   %anavigation__links__link.divider{:href => "#"}
    /     %span.navigation__links__link__inner.icon-group.divider__side
    /     %span.navigation__links__link__inner.divider__base{style: "padding-left: 0"} Войти