.content
  .row
    .col-md-2
      = render partial: 'blocks/collaborators'
    .col-md-6
      %h1.no-top-margin= Faker::Lorem.words(5).join(' ').capitalize
      %p.text-lead= Faker::Lorem.paragraphs(2).join(' ').capitalize
      %p= Faker::Lorem.paragraphs.join(' ').capitalize
      %p= Faker::Lorem.paragraphs.join(' ').capitalize
      %p= Faker::Lorem.paragraphs.join(' ').capitalize
      %p
        %a{:href => "#"}= Faker::Lorem.words.join(' ').capitalize 
      %img.img-responsive{:src => "//lorempixel.com/1024/768", :alt => "Some image"}/
      %small
        %em= Faker::Lorem.words.join(' ').capitalize
      %br/
      %br/
      %a.input-button{:href => "#"}
        Try
        %b
          = Faker::Lorem.word.capitalize
        &rarr;
    .col-md-4.top-padding-tablets
      %h1.font-big.no-top-margin.cursor-default Related projects
      = render partial: 'blocks/related_projects'
      %br/
      %h1.font-big.cursor-default.no-top-margin Other projects
      = render partial: 'blocks/related_projects', locals: { t: 5 }