%ul.project-details
  - 6.times do |i|
    %li.project-details__item
      %h4.project-details__header= Faker::Lorem.word.capitalize
      %p.project-details__desc= Faker::Lorem.words(2).join(' ').capitalize