.project
  - i ||= 0
  %img.project__image{:src => "//lorempixel.com/1280/#{720+i}", :alt => "Project image"}/
  .project__info
    %h3.project__title
      %a.project__title__link.project__link{:href => "/projects/show"}= Faker::Lorem.words(2).join(' ').capitalize
    .project__desc= Faker::Lorem.words(6).join(' ').capitalize