.related-projects
  - 5.times do |i|
    %a.related-projects__item.divider{:href => "#"}
      - t ||= 0
      %img.related-projects__image.divider__side{:src => "//lorempixel.com/#{80+i+t}/#{80+i+t}", :alt => "Project image"}/
      .related-projects__info
        .related-projects__title= Faker::Lorem.word.capitalize
        .related-projects__desc= Faker::Lorem.words(5).join(' ').capitalize