// Variables

$announce-recently-font-size: 15px
$announce-recently-padding-vertical: 6px
$announce-recently-padding-horizontal: 10px
$announce-recently-padding: $announce-recently-padding-vertical $announce-recently-padding-horizontal


// Styles

.announce
  +box-shadow(inset 0 0 10px -3px rgba(0,0,0,.5))
  background-repeat: no-repeat
  background-position: top right
  background-color: #DDD
  cursor: default

.announce_header
  margin: 70px 0 0

.announce__inner
  background: image-url('navigation/navbg.png') no-repeat top left
  padding: 0 $sides-padding

.announce__recently
  font-size: em($announce-recently-font-size)
  text-transform: uppercase
  display: none

.announce__icon
  +text-shadow(1px 1px 0 rgba(255,255,255,.4))
  font-size: em(70px)
  line-height: 1.6em
  padding: 0 10px

.announce__info
  padding: 20px 0

.announce__title,
.announce__desc
  margin: 0

.announce__title
  font-size: em(20px)
  padding-bottom: 5px

.announce__title__link
  text-transform: uppercase

.announce__desc
  max-width: 400px
  font-size: em(17px)
  line-height: 1.3em
  letter-spacing: .05em
  color: $primary-color


+phones
  .announce
    background-image: none !important
    position: relative

  .announce__inner
    padding: 25px $phones-sides-padding 20px

  .announce__recently
    background: $primary-color
    font-size: em(14px)
    line-height: 1em
    color: #fff
    padding: $announce-recently-padding
    position: absolute
    top: -($announce-recently-font-size + $announce-recently-padding-vertical * 2) / 2 + 2
    left: $phones-sides-padding
    display: inline-block
    cursor: default

  .announce__icon
    display: none

  .announce__info
    padding: 0
    clear: both

  .announce__desc
    font-size: em(14px)

  .announce__readmore
    display: block
    padding: 7px 0 0