// Styles

.blog
  background: #F3F3F3
  font-family: $thirdary-font
  padding: 0 20px
  margin: $nav-spacing 0 0 0

.blog_show
  background: none
  padding: 20px $sides-padding

  .blog__post
    +box-shadow(none !important)
    padding: 0

  .blog__post__info
    font-size: em(13px)
  
  .blog__post__info__tags
    display: inline-block

.blog__post
  +box-shadow(0 0 3px 2px rgba(0,0,0,.05))
  +transition(box-shadow .5s ease)
  background: $secondary-color
  padding: 20px
  margin: 20px 0 30px

  &:hover
    +box-shadow(0 0 3px 2px rgba(0,0,0,.1))

.blog__post_small
  padding: 10px

  .blog__post__title
    font-size: em(20px)
    text-transform: none

  .blog__post__content
    font-size: em(13px)
    line-height: 1.5em
    color: darken($thirdary-color, 20%)

  .blog__post__info
    margin-bottom: 0

.blog__post_link
  .blog__post__info
    margin-bottom: 0

.blog__post__tags
  font-size: em(11px)
  line-height: 1.5em
  cursor: default

.blog__post__time
  font-size: em(11px)
  line-height: 1.5em
  color: $thirdary-color
  cursor: default

.blog__post__image-wrapper
  +border-radius(2px)
  background: #EFEFEF
  text-align: center
  margin-bottom: 10px
  overflow: hidden
  position: relative
  display: block !important
  cursor: default

.blog__post__image
  text-align: left
  vertical-align: middle
  display: inline-block
  cursor: pointer

.blog__post__image__image
  position: relative
  z-index: 100

.blog__post__image__tags
  white-space: nowrap
  position: absolute
  top: 0
  right: 0
  z-index: 110

.blog__post__image__tag
  $tmp: $secondary-color
  background: rgba(0,0,0,.4)
  font-size: em(10px)
  line-height: 1.5em
  color: $tmp
  padding: 5px
  margin-bottom: 5px
  display: inline-block
  vertical-align: top

  &:hover
    background: rgba(0,0,0,.7)
    text-decoration: none
    color: $tmp

  &:last-child
    +border-radius(0 2px 0 0)

.blog__post__image__tag_brand
  background: rgba($brand-color, .4)

  &:hover
    background: rgba($brand-color, .7)


.blog__post__title
  font-size: em(40px)
  line-height: 1.3em
  text-transform: uppercase

.blog__post__link,
.blog__post__link__icon
  display: inline-block

.blog__post_link
  .blog__post__link
    &:hover
      text-decoration: none

    &:hover .blog__post__link__text
      text-decoration: underline
      display: inline

.blog__post__info
  font-size: em(11px)
  line-height: 1.5em
  margin: 0 0 30px
  cursor: default

.blog__post__info__author,
.blog__post__info__time
  display: inline-block

.blog__post__info__tags
  display: none

.blog__post__info__author
  margin-right: 20px

.blog__post__info__time
  color: $thirdary-color
  margin-right: 20px

.blog__post__info__via
  $tmp: darken($thirdary-color, 30%)
  color: $tmp
  display: inline-block

  &:hover
    color: $tmp


.blog__more,
.blog__projects
  padding-bottom: 30px

.blog__more__title,
.blog__projects__title
  font-weight: normal
  margin: .5em 0 1.3em
  cursor: default

.blog__more__list
  font-family: $thirdary-font
  +reset-list

.blog__more__list__item
  font-size: em(14px)
  line-height: 1.5em
  font-weight: 300
  border-style: solid
  border-color: #EFEFEF
  border-width: 0 0 1px 0

  &:first-child
    border-top-width: 2px

.blog__more__list__item_active
  border-bottom-width: 3px !important
  
.blog__more__list__link
  color: $primary-color
  padding: 7px 0
  display: block

  &:hover
    color: $brand-color
    text-decoration: none


.blog__projects__latest
  +reset-list
  font-size: 0
  text-align: center

.blog__projects__item
  width: 100%
  height: 140px
  font-size: $base-font-size
  vertical-align: top
  margin: 0 0 10px 0
  display: inline-block
  overflow: hidden

.blog__projects__item__link
  width: 100%
  height: 100%
  font-size: em(12px)
  line-height: 1.5em
  font-weight: bold
  color: $secondary-color
  text-align: center
  text-decoration: none
  position: relative
  display: block

  &:hover
    color: $secondary-color

    .blog__projects__item__title
      opacity: 1

.blog__projects__item__image
  width: 100%
  height: auto
  position: absolute
  top: -40%
  left: 0

.blog__projects__item__title
  +border-radius(0 0 2px 2px)
  background: rgba(0,0,0,.8)
  padding: 10px 15px
  margin: 0 10px
  position: relative
  z-index: 100
  display: inline-block
  opacity: 0
  +transition(opacity $transitions-easing $transitions-speed)


+tablets--
  .blog__projects__item__title
    opacity: 1

  .blog__more
    margin-top: 50px


+tablets
  .blog__projects__latest
    margin: 0 -5px

  .blog__projects__item
    width: 50%
    padding: 0 5px


+phones
  .blog_show
    padding: 20px $phones-sides-padding

  .blog__post__title
    font-size: em(30px)

  .blog__projects__latest
    margin: 0

  .blog__projects__item
    width: 100%
    padding: 0