// Variables

$collaborators-font-size: 11px
$collaborators-line-height: 1.5
$collaborators-member-height: 25px


// Styles

.collaborators
  font-size: em($collaborators-font-size)
  margin-top: 10px

.collaborators__member
  color: $thirdary-color

  &:hover
    color: $primary-color
    text-decoration: none

.collaborators__member__avatar
  +border-radius(99px)
  width: $collaborators-member-height
  height: $collaborators-member-height
  margin: 0 10px 10px 0


.collaborators__member__name
  +ellipsis
  height: $collaborators-member-height
  line-height: #{$collaborators-line-height + 'em'}
  padding-top: ($collaborators-member-height - ($collaborators-font-size * $collaborators-line-height)) / 2

+phones
  .collaborators__member
    display: inline-block
    margin-left: -.03em

  .collaborators__member__name
    display: none

+tablets
  .collaborators
    margin-bottom: 30px