// Styles

.footer
  background-color: $primary-color
  font-family: $secondary-font
  font-weight: 300
  color: $secondary-color
  padding: $footer-y-padding $sides-padding
  cursor: default

.footer__header
  font-weight: 300
  text-transform: uppercase
  line-height: 1.2em
  padding: .1em 0

.footer__link
  color: $secondary-color
  display: block
  

  &:hover
    color: $brand-color
    text-decoration: none

.footer__big
  .footer__header
    font-size: em(33px)
    margin: 0

.footer__small
  .footer__header
    margin-top: 0

.footer__projects
  +clearfix
  line-height: 1em
  list-style: none
  padding: 0
  margin: 1.3em 0 0

.footer__projects-item
  font-size: em(16px)
  float: left

  .footer__link
    padding: 0 1em 1em 0
    display: block


+phones
  .footer
    padding: $footer-phones-y-padding $phones-sides-padding

  .footer__big
    .footer__header
      font-size: em(25px)

  .footer__projects-item
    +ellipsis
    float: none

    .footer__link
      padding: 0 0 1.3em 0


+tablets
  .footer__small
    font-size: em(20px)


+tablets--
  .footer__small
    padding-top: $footer-phones-y-padding !important