// Styles

.herounit
  background: $primary-color
  color: $secondary-color
  padding: 32px $sides-padding
  margin: $nav-spacing 0 0
  overflow: hidden
  cursor: default

  > *:first-child
    margin-top: 0

  > *:last-child
    margin-bottom: 0

.herounit__title
  font-size: em(42px)
  margin-bottom: 15px
  line-height: 1.2em

.herounit__description
  margin: 0

+phones
  .herounit
    padding: $phones-sides-padding

  .herounit__title
    font-size: em(34px)