// Variables

$nav-link-horiz-padding: 10px
$nav-link-vert-padding: 6px

$nav-item-height: $font-size-base * 1.5 + ($nav-link-vert-padding * 4)


// Styles

.navigation
  width: 100%
  background: rgba(255,255,255,.9)

  font-size: 1em
  line-height: 1.5em
  font-weight: 300 !important

  padding: 0 $sides-padding

  position: fixed
  top: 0
  left: 0

  cursor: default
  z-index: 1000000

.navigation__logo
  +divider__side

.navigation__link
  +transition(0)
  color: $primary-color
  padding: $nav-link-vert-padding * 2 $nav-link-horiz-padding
  display: block
  outline: none

  &:hover
    background-color: $primary-color
    color: $secondary-color
    text-decoration: none

    .navigation__logo__image
      +all-sprite('navlogo_hover')

.navigation__logo__link
  +divider__side

.navigation__logo__image
  +all-sprite('navlogo')
  display: block

.navigation__links
  +divider__base
  +clearfix
  margin: 0
  padding: 0
  list-style: none

.navigation__links__item
  display: block
  float: left

.navigation__links__link
  font-size: em(16px)
  padding: $nav-link-vert-padding $nav-link-horiz-padding
  display: block

  &:hover
    background: none

    .navigation__links__link__inner
      background-color: $primary-color


  .navigation__links__link__inner
    padding: $nav-link-vert-padding $nav-link-horiz-padding
    display: block


+phones
  .navigation
    padding: 0

  .navigation__logo
    float: none
    overflow: hidden

  .navigation__logo__link
    margin-left: 0
    margin-right: 0
    padding-left: $nav-link-horiz-padding
    padding-right: $nav-link-horiz-padding

    &:hover
      .navigation__logo__image
        +all-sprite('navlogosmall_hover')

  .navigation__logo__image
    +all-sprite('navlogosmall')

  .navigation__status
    +divider__base
    +ellipsis
    height: $nav-item-height
    font-size: em(14px)
    line-height: 1.9em
    font-style: italic
    color: lighten($primary-color, 60%)
    padding: $nav-link-vert-padding * 2 $nav-link-horiz-padding

  .navigation__toggle
    +divider__side
    +divider__side_r
    height: $nav-item-height
    font-size: em(19px)

  .navigation__toggle__link
    color: $primary-color

    &:focus
      outline: none

  .navigation__links
    height: 0
    padding: 0
    clear: both

  .navigation__links__item
    width: 100%
    display: block

  .navigation__links__link
    padding: 0

  .navigation__links__link__inner
    padding: $nav-link-horiz-padding


+tablets-
  // Collapsed links visible always until its phone view
  .navigation__links.collapse
    height: auto !important