// Styles

.project
  min-height: 520px
  background: #AAA
  line-height: 1.5em
  color: $secondary-color
  position: relative
  overflow: hidden
  cursor: default

.project_shown
  min-height: 340px
  margin-top: $nav-spacing

.project__image
  width: 100%
  min-height: 100%
  position: absolute
  top: 0
  left: 0
  z-index: 10

.project__info
  padding: 50px 60px
  position: relative
  z-index: 20

.project__link
  color: $secondary-color
  background-color: $primary-color

  &:hover
    color: $secondary-color
    background: $brand-color

.project__title
  font-size: em(62px)
  line-height: 1em
  margin: 0
  display: block

.project__title__link
  +ellipsis
  background-color: $primary-color
  padding: 20px
  margin: 0
  display: inline-block

  &:hover
    text-decoration: none

.project__desc
  background-color: $primary-color
  font-size: em(17px)
  line-height: 1em
  padding: 20px
  margin: 20px 0 0
  display: inline-block

+phones
  .project
    min-height: 230px

  .project__info
    padding: 0

  .project__title
    font-size: em(20px)
    line-height: 1em

  .project__title__link
    padding: 30px 20px 15px
    display: block

  .project__desc
    background-color: rgba(0,0,0,.35)
    font-size: em(14px)
    padding: 10px 20px
    margin: 0
    display: block

+phones-
  .project__image
    height: 100%
    width: auto

+tablets
  .project
    min-height: 380px

  .project__title
    font-size: em(50px)