// Styles

.project-details
  background: $primary-color
  font-size: em(12px)
  color: $thirdary-color
  padding: 10px $sides-padding
  margin: 0
  list-style: none
  cursor: default

  .project-details__item:first-child
    padding-left: 0 !important

  .project-details__item:last-child
    border: 0

.project-details__item
  max-width: 150px
  border-right: 1px solid darken($thirdary-color, 50%)
  padding: 20px 30px 20px 0 !important
  margin: 5px 15px 5px -.03em
  display: inline-block
  vertical-align: top

.project-details__header
  color: $secondary-color
  margin: 0 0 2px

.project-details__desc
  line-height: 1.5em
  margin: 0
  white-space: inherit

+phones
  .project-details
    font-size: em(12px)
    padding: 10px $phones-sides-padding

  .project-details__item
    padding: 10px 0 !important
    border: none
    float: none !important
    display: block !important