// Styles

.related-projects
  +clearfix
  font-size: 0
  line-height: 1.5em
  margin-top: -7px

.related-projects__item
  +clearfix
  width: 50%
  font-size: $base-font-size
  color: $primary-color
  vertical-align: top
  padding: 7px 0
  display: inline-block

  &:hover
    color: $brand-color
    text-decoration: none

    .related-projects__desc
      color: $brand-color

.related-projects__image
  width: 60px
  height: 60px
  margin-right: 10px

.related-projects__info
  font-family: $thirdary-font
  font-size: em(15px)
  padding: 0 15px 0 0

.related-projects__title
  font-size: em(15px)
  font-weight: bold
  line-height: 1.3em
  margin-bottom: 3px

.related-projects__desc
  font-size: em(12px)
  line-height: 1.3em
  color: $thirdary-color

+tablets--
  .related-projects
    margin: 30px 0 10px

  .related-projects__image
    width: 40px
    height: 40px

+desktops--
  .related-projects__item
    width: 100%
    float: none