// Styles

.updates
  background: #FAFAFA
  font-family: $thirdary-font
  font-size: em(12px)
  line-height: 1.5em
  border: 1px solid #EEE
  border-left: 0
  border-right: 0
  padding: 15px $sides-padding
  cursor: default

.updates__title
  +text-shadow(0 -1px 0 lighten($primary-color, 80%))
  font-weight: bold
  color: $primary-color
  line-height: 1.3em
  text-transform: uppercase

  &:hover
    text-decoration: none

.updates__latest
  font-size: em(16px)
  margin: 0 0 0 10px


+phones
  .updates
    padding: 10px $phones-sides-padding

  .updates__title
    display: block
    margin-bottom: 5px

  .updates__latest
    margin-left: 0