// Mixins

=divider
  display: block

  &:before,
  &:after
    content: "\0020"
    display: block
    height: 0
    visibility: hidden
  &:after
    clear: both

=divider__side
  float: left
  word-wrap: break-word
  display: block

=divider__side_r
  float: right

=divider__side_half
  width: 50%

=divider__base
  overflow: hidden
  display: block
  word-wrap: break-word


// Divider for making two DIV's inline with 100% width.

.divider
  +divider

.divider__base
  +divider__base

.divider__side
  +divider__side

.divider__side_r
  +divider__side_r

.divider__side_half
  +divider__side_half