// Media queries

// Only for phones (<= 767px)

=phones()
  @media (max-width: $screen-xs-max)
    @content

=phones-()
  @media (max-width: 319px)
    @content


// Only for tablets (768px - 991px)

=tablets()
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max)
    @content

// Tablets and more (768px +)

=tablets-()
  @media (min-width: $screen-sm-min)
    @content

// Tablets and less (<= 991px)

=tablets--()
  @media (max-width: $screen-sm-max)
    @content


// Only for desktops (992px - 1199px)

=desktops()
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max)
    @content

// Desktops and more (992px +)

=desktops-()
  @media (min-width: $screen-md-min)
    @content

// Desktops and less (<= 1199px)

=desktops--()
  @media (max-width: $screen-md-max)
    @content

// Large desktops and more (1200px +)

=hdesktops()
  @media (min-width: $screen-lg-min)
    @content


// Text ellipsis (three dots at the end of line if text is longer than parent's width)

=ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

=ellipsis-
  overflow: visible
  white-space: normal
  text-overflow: clip


// Reset list
=reset-list
  list-style: none
  padding: 0
  margin: 0