// Debug styles

=o
  outline: 1px solid red

=o-
  @extend .o
  outline-offset: -1px


// Common styles

*,
*:before,
*:after
  +box-sizing(border-box)

body
  font-family: $primary-font
  font-size: em(16px)
  line-height: $line-height-base
  color: $primary-color

  a
    +transition(color $transitions-speed $transitions-easing)
    color: $brand-color
    text-decoration: none

    &:hover
      color: darken($brand-color, 10%)
      text-decoration: underline

  p
    font-size: em(15px)
    margin: 0 0 1em

  h1, h2, h3, h4, h5, h6
    line-height: 1.5em
    margin: .3em 0

  small
    font-size: em(12px)
    line-height: 1.5em
    margin: .5em 0 1em
    display: inline-block

  img
    +border-radius(2px)
    text-decoration: none
    position: relative
    z-index: 50

    &:hover
      text-decoration: none


// Custom styles

.font-large
  font-size: em(100px)
  line-height: 1.1em

.font-big
  font-size: em(45px)
  line-height: 1.1em
  letter-spacing: -.05em

+desktops
  .font-big
    font-size: em(35px)

+tablets
  .font-large
    font-size: em(70px)
    line-height: 1.1em

  .font-big
    font-size: em(35px)
    line-height: 1.1em

+phones
  .font-large
    font-size: em(35px)
    line-height: 1.1em

  .font-big
    font-size: em(25px)
    line-height: 1.1em

+tablets-
  .width-narrow
    width: 500px

.text-lead
  font-family: $thirdary-font
  font-size: em(21px)
  line-height: $line-height-base

.text-center
  text-align: center

.display-block
  display: block

.display-iblock
  display: inline-block

.float-right
  float: right

.no-margin
  margin: 0

.no-top-margin
  margin-top: 0

.no-bottom-margin
  margin-bottom: 0

.cursor-default
  cursor: default

+tablets--
  .top-padding-tablets
    padding-top: 40px

.input-button
  +border-radius(2px)
  +transition(background-color $transitions-easing $transitions-speed)
  background: $brand-color
  font-family: $secondary-font
  font-weight: 300
  font-size: em(18px)
  line-height: 1em
  color: $secondary-color !important
  text-transform: uppercase
  padding: 12px 20px
  border: 0
  outline: 0
  display: inline-block

  &:hover
    background: lighten($brand-color, 5%)
    text-decoration: none

  &:active
    background: darken($brand-color, 5%)
    +box-shadow(inset 0 3px 6px -1px rgba(0,0,0,.4))

.img-wrapper
  margin: 1em 0
  display: inline-block

.img-responsive
  +img-responsive

.img-desc
  +border-radius(0 0 2px 2px)
  width: 100%
  min-width: 100%
  max-width: 100%
  background: #EEE
  font-size: em(11px)
  line-height: 1.5em
  color: #999
  padding: 10px 15px
  margin: -1px 0 0
  cursor: default
  position: relative
  z-index: 100