!!!
%html{lang: "ru"}
  %head
    %title Larkit
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0, user-scalable=no"}

    = surround "<!--[if lt IE 9]>\n".html_safe, "\n<![endif]-->".html_safe do
      %script{src: "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"}
      %script{src: "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"}

    = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Roboto:400,100,700&subset=latin,cyrillic-ext", media: "all"
    = stylesheet_link_tag    "//fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic-ext", media: "all"
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags

  %body
    = render partial: 'blocks/navigation'

    = yield

    = render partial: 'blocks/footer'
    
    = javascript_include_tag "application"
    %script{src: "//code.jquery.com/color/jquery.color-2.1.2.min.js"}